
@{
    ViewBag.Title = "Blogs";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
<section class="blog-sec">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-6">
                        <a href="central-government-schemes-for-disabilities-people.html">
                            <div class="blog-1">
                                <img src="images/blog1.jpg" class="img-responsive" alt="blog" />
                                <div class="centered">
                                    <p><a href="divyang-blog.html"><b>Blog</b></a> March 20, 2024  </p>
                                    <a href="central-government-schemes-for-disabilities-people.html"><h4>Guide on Central Government Schemes for benefit of people with disabilities in India</h4></a>
                                    <span class="ellipsis">A comprehensive guide on Central Government Schemes for the benefit of people with disabilities in India serves as a valuable resource for understanding and accessing the various support mechanisms and initiatives provided by the government. These schemes, often managed by the Department of Empowerment of Persons with Disabilities under the Ministry of Social Justice and Empowerment, encompass a wide range of areas such as education, employment, healthcare, and accessibility. </span>
                                </div>
                                <a class="readmore" href="central-government-schemes-for-disabilities-people.html">Read More</a>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-6">
                        <a href="javascript:;">
                            <div class="blog-1">
                                <img src="images/blog2.jpg" class="img-responsive" alt="blog" />
                                <div class="centered">
                                    <p><a href="divyang-blog.html"><b>Blog</b></a> February 17, 2024  </p>
                                    <a href="javascript:;"><h4>Best 10 Tools to Help People with Disabilities in India</h4></a>
                                    <span class="ellipsis">In today’s fast-paced, technology-driven world, there is a wealth of tools and technologies available to support and empower individuals with disabilities in India. These tools have the power to break down barriers and offer new avenues for independence and inclusion</span>
                                </div>
                                <a class="readmore" href="javascript:;">Read More</a>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-6">
                        <a href="javascript:;">
                            <div class="blog-1">
                                <img src="images/blog3.jpg" class="img-responsive" alt="blog" />
                                <div class="centered">
                                    <p><a href="divyang-blog.html"><b>Blog</b></a> January 12, 2024  </p>
                                    <a href="javascript:;"><h4>Embracing Diversity: The Advantages of Hiring People with Disabilities in the Organization</h4></a>
                                    <span class="ellipsis">Introduction: In this blog post, we’ll delve into the advantages of hiring People with Disabilities and how how it positively impacts organizational success. In today’s dynamic and ever-evolving business landscape, organizations are increasingly recognizing the value of diversity and inclusion</span>
                                </div>
                                <a class="readmore" href="javascript:;">Read More</a>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-6">
                        <a href="javascript:;">
                            <div class="blog-1">
                                <img src="images/blog4.jpg" class="img-responsive" alt="blog" />
                                <div class="centered">
                                    <p><a href="divyang-blog.html"><b>Blog</b></a>December 11, 2023</p>
                                    <a href="javascript:;"><h4>Top 10 Government Organizations for People with Disabilities in India</h4></a>
                                    <span class="ellipsis">In India, a significant and commendable effort has been made to promote inclusion and equal opportunities for individuals with disabilities. Government organizations at the national and state levels have played a pivotal role in this endeavor.</span>
                                </div>
                                <a class="readmore" href="javascript:;">Read More</a>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-6">
                        <a href="javascript:;">
                            <div class="blog-1">
                                <img src="images/blog5.jpg" class="img-responsive" alt="blog" />
                                <div class="centered">
                                    <p><a href="divyang-blog.html"><b>Blog</b></a>November 17, 2023</p>
                                    <a href="javascript:;"><h4>Top 10 Ways to Support Person with Disabilities (PwD) in India</h4></a>
                                    <span class="ellipsis">Supporting people with disabilities in India is crucial for promoting inclusion, equality, and ensuring they can lead fulfilling lives. Support for individuals with disabilities is essential to foster inclusivity and ensure they have equal access to opportunities and a high quality of life. </span>
                                </div>
                                <a class="readmore" href="javascript:;">Read More</a>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="blog-newsec">
                    <div class="search-wrapper">
                        <input type="text" class="search" placeholder="">
                        <button class="search-button">Search</button>
                    </div>
                    <div class="category">
                        <h4>Category</h4>
                        <p><a href="divyang-blog.html">Blog</a></p>
                        <p><a href="divyang-blog.html">Schemes</a></p>

                    </div>
                    <div class="category">
                        <h4>Tags</h4>
                        <span><a href="divyang-blog.html">Skill</a></span>
                        <span><a href="divyang-blog.html">Topic</a></span>
                    </div>
                    <div class="category2">
                        <h4>Recent Posts</h4>
                        <p><a href="divyang-blog.html">Empowering Lives: A Comprehensive Overview of the National Social Assistance Programme (NSAP)</a></p>
                        <p><a href="divyang-blog.html">Guide on Central Government Schemes for benefit of people with disabilities in India</a></p>
                        <p><a href="divyang-blog.html">Transforming Lives: Unveiling the Assistance to Disabled Persons for Purchase/ Fitting of Aids and Appliances (ADIP) Government Scheme</a></p>
                        <p><a href="divyang-blog.html">Empowering Lives: A Comprehensive Exploration of the Deendayal Disabled Rehabilitation Scheme (DDRS)</a></p>
                        <p><a href="divyang-blog.html">Best 10 Tools to Help People with Disabilities in India</a></p>
                    </div>
                </div>
            </div>



        </div>
    </div>
</section>

