@{
    ViewBag.Title = "Aboutus";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
<div class="abt-spacing-top">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="aboutus-sec">
                    <div class="about-bg-overlay">
                        <div class="about-text">
                            <h2>ABOUT US</h2>
                            <h3>Bridging Opportunities for Person with Disabilities</h3>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="our-mission">
                <h2>OUR MISSION</h2>
                <p>At Divyang Career, we believe in the power of inclusivity. We're not just a job portal; we are a passionate community-driven initiative dedicated to creating a world where every individual, regardless of their abilities, has equal access to employment opportunities. Our mission is simple: to bridge the gap between talent and opportunity by connecting employers with a diverse pool of exceptional candidates.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="flex-container">
            <div class="wrapper">
                <div class="flex-box">
                    <div class="text-counter"><p>Jobs to Empower Divyangjans</p></div>
                    <p id="alignnumber1" class="alignnumber"></p>
                </div>
                <div class="flex-box">
                    <div class="text-counter"><p>Equal Opportunity Employers</p></div>
                    <p id="alignnumber2" class="alignnumber"></p>
                </div>
                <div class="flex-box">
                    <div class="text-counter"><p>Divyangjans Candidate Profiles</p></div>
                    <p id="alignnumber3" class="alignnumber"></p>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="our-vision">
    <div class="container vision">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-2">
                <div class="vision1-img">
                    <img src="images/vision1.jpg" class="img-responsive" alt="vision" />
                </div>

                <div class="vision2-img">
                    <img src="images/vision2.jpg" class="img-responsive" alt="vision" />
                    <img class="box1" decoding="async" width="121" height="120" src="https://divyangcareer.com/wp-content/uploads/2023/03/Group.svg" class="attachment-full size-full wp-image-8258" alt="">
                </div>



            </div>
            <div class="col-md-4">
                <div class="vision3-img">
                    <img src="images/vision3.jpg" class="img-responsive" alt="vision" />
                </div>
                <div class="elementor-widget-container">
                    <img class="dots box animate fadeInUp one" loading="lazy" decoding="async" width="100" height="138" src="https://divyangcareer.com/wp-content/uploads/2023/03/list-dot.svg" alt="">
                </div>
            </div>
            <div class="col-md-5">
                <div class="our-vision-text">
                    <p class="vt">Our Vision</p>
                    <h1>Creating an Inclusive Workforce</h1>
                    <p class="visiontext">Our vision is to build a more inclusive and diverse workforce where every person, regardless of their unique abilities, can find meaningful and gainful employment. We understand that talent knows no boundaries, and we are committed to dismantling the barriers that have traditionally limited opportunities for those with disabilities.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="existance">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="why-exist">
                    <p><b>Why We Exist:</b></p>
                    <h3><i>Unleashing Untapped Potential</i></h3>
                    <p>People with disabilities are often underrepresented in the job market, despite their skills, talents, and qualifications. We exist to change this. We believe that diversity drives innovation, and by connecting employers with a wider range of skills and perspectives, we're helping to unleash untapped potential that benefits everyone.   </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="our-Working">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="our-work">
                    <p><b>What We Do</b></p>
                    <h2>Your Gateway to <br />Opportunity</h2>
                    <p>Divyang Career serves as the bridge between job seekers with disabilities and employers who recognize the value of a diverse workforce. We provide a user-friendly, accessible platform where individuals can explore job listings, connect with employers, and access resources and support to help them succeed in the workplace.</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="our-work2">
                    <img src="images/divyang-career-3.jpg" alt="career" class="img-responsive" />
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</section>

<section class="join-us">
    <div class="overlay">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="why-us">
                        <h2>Join Us in Our Mission</h2>
                        <p>At Divyang Career, we invite you to join us in our mission to create a more inclusive world. Whether you are a job seeker looking for your next opportunity or an employer seeking exceptional talent, we are here to support you every step of the way.</p>
                    </div>
                    <div class="why-us2">
                        <b>Our Commitment</b>
                        <h3>Inclusivity, Accessibility, and Support</h3>
                        <p>We are committed to fostering inclusivity, ensuring the accessibility of our platform, and providing the necessary support for both job seekers and employers. We work tirelessly to break down barriers, challenge stereotypes, and create a space where everyone feels valued and empowered.</p>
                    </div>
                    <h1>Together, we can build a world where abilities shine, and opportunities abound. Welcome to Divyang Career.</h1>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
        let alignnumber1 = document.getElementById("alignnumber1");
        let alignnumber2 = document.getElementById("alignnumber2");
        let alignnumber3 = document.getElementById("alignnumber3");
        let alignnumber1_value = 1000;
        let alignnumber2_value = 150;
        let alignnumber3_value = 500;
        let counter = 0;
        let ain = setInterval(() => {
            if (counter == alignnumber1_value) {
                clearInterval(ain);
            } else {
                counter += 1;
                alignnumber1.innerHTML = counter + "+";
            }
        }, 0);
        let bcounter = 0;
        let bin = setInterval(() => {
            if (bcounter == alignnumber2_value) {
                clearInterval(bin);
            } else {
                bcounter += 1;
                alignnumber2.innerHTML = bcounter + "+";
            }
        }, 3);
        let ccounter = 0;
        let cin = setInterval(() => {
            if (ccounter == alignnumber3_value) {
                clearInterval();
            } else {
                ccounter += 1;
                alignnumber3.innerHTML = ccounter + " +";
            }
        }, 1);
</script>
