@{
    ViewBag.Title = "Contactus";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="contact-us">
                <h1>Contact Us</h1>
                <p>Have a question or need more information?</p>
                <p>Just drop us a line!</p>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="contact-text">
                <h6>Phone number</h6>
                <p>+91 877 935 2803</p>
                <h6>Email address</h6>
                <p>divyangcareer@gmail.com</p>
                <h6>Address</h6>
                <p>
                    1 Ghanshyam Dube Tower, M.G Road, Borivali (E),
                    Mumbai – 400 066, Maharashtra, India
                </p>
                <div class="gmap">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15069.127152517503!2d72.83952341347859!3d19.22654715952475!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7b16828f59939%3A0xc0d365e39e071ace!2sGirish%20Ghanshyam%20Dube!5e0!3m2!1sen!2sin!4v1723616031168!5m2!1sen!2sin" width="550" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="contact-form">
                <p>Send us a message</p>
                <form class="contact-fields" action="" method="post">
                    <label>Your name</label>
                    <fieldset>
                        <input placeholder="" type="text">
                    </fieldset>
                    <label>Your email</label>
                    <fieldset>
                        <input placeholder="" type="email" />
                    </fieldset>
                    <label>Subject</label>
                    <fieldset>
                        <input type="text" placeholder="" />
                    </fieldset>
                    <label>Your message (optional)</label>
                    <fieldset>
                        <textarea placeholder="" tabindex="5" required></textarea>
                    </fieldset>
                    <fieldset>
                        <button name="submit" type="submit">Submit</button>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>