
@{
    ViewBag.Title = "Founder Notes";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="founder-mission">
                <h1>Founder’s Note</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7">
                <div class="founder-text">
                    <p>During my journey towards empowering the Divyangs (PwDs) of our country I have observed that PwDs are very keen to make themselves self reliant and also have a great zeal to fight all odds.  The PwDs who are working in private organisations have also been unable to sustain their jobs due to various compelling reasons. I was pained to see that the PwDs were carrying out various peaceful demonstrations and protests against the government demanding for equal opportunities in the government of India and state bodies. The Rights of Persons with Disabilities (RPWD) Act, 2016, the Government of India has proactively reserved a Quota for people suffering from disabilities from 3% to 4% in government jobs and from 3% to 5% in higher education institute, underscoring it is commitment to inclusion and equal opportunity. Our focus will be on vacancies in the Government bodies at the Centre and in the States since a considerable number of these reserved positions remain unfilled across different levels of governance: Central Government, State Government, PSU’s, Nagar Palika, etc. However, we do not rule out importance of Private Companies and other organizations. It is also seen that there is No integrated data repository with the government bodies where is a person can identify the positions that are vacant or filled. </p>
                </div>
            </div>
            <div class="col-md-5">
                <div class="founder-img">
                    <img src="images/ministry.jpg" class="img-responsive" alt="ministry" />
                    <h6>National Award as the "Best Individual working for Empowerment of Persons with Disabilities<br /> (Divyangjans)" (Government of India) -World Disability Day by the Ministry of Social Justice & Empowerment.</h6>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="founder-text2">
                    <p>Hence the need for creating a dedicated platform for Divyangjans has risen to explore all the vacant positions and advise divyangs to apply as per the rules and regulations. We do not claim to give jobs but to keep the PwDs informed about opportunities as per laid down conditions of that authority. I am incredibly humbled and excited to announce our career oriented platform, <b>Divyang Career</b>, dedicated to empowering individuals with disabilities. I am deeply passionate about creating a more inclusive world, where abilities shine brighter than any limitations.</p>
                    <p>Our journey began with a simple yet profound realization: talent knows no boundaries, and every individual, regardless of their unique abilities, deserves the opportunity to thrive in the professional world. It is a belief rooted in the idea that diversity is not merely a checkbox but a source of strength and innovation.</p>
                    <p><b>Divyang Career</b> is not just another job portal; it’s a manifestation of our commitment to bridging the gap between talent and opportunity. Our vision is clear: to create a more inclusive and equitable workforce for various Government and private organizations. We believe that by providing a platform where individuals with disabilities can showcase their skills, experiences, and unique perspectives, we can connect them with employers who share our commitment to diversity.</p>
                    <p>We understand the challenges that job seekers with disabilities often face – from unconscious biases to physical barriers. That’s why we’ve designed our platform to be accessible, user-friendly, and supportive. We offer not only a portal for job listings but also a community that shares resources, encouragement, and guidance. This platform is a labour of love, a mission to create a more inclusive world. We are deeply committed to making a difference.</p>
                    <p>Thank you for your support, your trust, and your belief in the power of inclusivity. Together, we can change lives, transform workplaces, to make the divyangs (PwDs) Atma Nirbhar and make the world a better place for all.</p>
                </div>
            </div>
        </div>
    </div>

</div>

<section class="founder-join-us">
    <div class="container">
        <div class="row">
            <div class="col-md-12 ">
                <div class="why-us">
                    <h2>Join Us in Our Mission</h2>
                    <p>
                        At Divyang Career, we invite you to join us in our mission to create a more inclusive
                        world. Whether you're a job seeker looking for your next opportunity or an employer
                        seeking exceptional talent, we're here to support you every step of the way.
                    </p>
                    <h1>Together, we can build a world where abilities shine, and opportunities abound. Welcome to Divyang Career.</h1>
                </div>

            </div>
        </div>
    </div>
</section>


