
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";

}

@*Banner Start*@
<div id="tl-featured-slider1" class="owl-carousel">
    <div class="item">
        <div class="banner-img">

            <img src="~/Images/banner1.jpg" />
        </div>
    </div>
    <div class="item">
        <div class="banner-img">
            <img src="~/Images/banner2.jpg" />
        </div>
    </div>
</div>
@*Banner End*@
@*Features for Diyangjan Candidate Start*@
<div class="spacing-top">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="aboutus">
                    <h4>Features for Diyangjan Candidate</h4>
                    <p>Our job portal is equipped with a seamless online meeting and interview feature designed to streamline the hiring process for both employers and candidates.</p>
                    <ul class="list-style-type-square">
                        <li>Registration / Login</li>
                        <li>Profile creation / update</li>
                        <li>Online interview</li>
                        <li>Search / Filter / Sort jobs</li>
                        <li>Application / Tracking Jobs</li>
                        <li>Job Listing by disability / Sector / Type</li>
                        <li>View Government schemes</li>
                        <li>Accessible Tools (Increase / Decrease Text , Grayscale, High Contrast, Negative Contrast, Light Background, Links Underline, Readable Font, Screen reader</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-5">
                <img src="images/shutterstock.jpg" class="d-block w-100" alt="" />
            </div>
        </div>
    </div>
</div>
@*Features for Diyangjan Candidate End*@
@*Search Section Start*@
<div class="videosection">
    <video src="images/videoplayback.MP4" muted="" autoplay="" loop="" playsinline=""></video>
    <div class="banner-bg"></div>

    <div class="topscreen">
        <div class="containers">
            <div class="row">
                <div class="col-md-12">
                    <div class="heading">
                        <h1>Private, Government and NGO Jobs for you!</h1>
                    </div>
                    <div class="search-box">
                        <span class="searchimg"><img src="images/search.png" alt="" /></span>
                        <input type="text" placeholder="Jobs title or keywords" />

                        <div class="selectBox">
                            <div class="selectBox__value">Select Option</div>
                            <div class="dropdown-menu">
                                <a href="javascript:;" class="dropdown-item active">Kathmandu</a>
                                <a href="javascript:;" class="dropdown-item">Biratnagar</a>
                                <a href="javascript:;" class="dropdown-item">Pokhara</a>
                                <a href="javascript:;" class="dropdown-item">Lumbini</a>
                                <a href="javascript:;" class="dropdown-item">Chitwan</a>
                            </div>
                        </div>

                        <div class="searchbtn"><span>Search</span></div>

                    </div>
                </div>

                <div class="col-md-4">
                    <div class="icon-box-wrapper">
                        <div class="civi-icon-wrap">
                            <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48" fill="none"><path d="M45 22.875H40.011C39.4335 14.8965 33.1035 8.5665 25.1775 7.992L25.125 7.989V3C25.125 2.379 24.621 1.875 24 1.875C23.379 1.875 22.875 2.379 22.875 3V7.989C14.8965 8.5665 8.5665 14.8965 7.992 22.8225L7.989 22.875H3C2.379 22.875 1.875 23.379 1.875 24C1.875 24.621 2.379 25.125 3 25.125H7.989C8.5665 33.1035 14.8965 39.4335 22.8225 40.008L22.875 40.011V45C22.875 45.621 23.379 46.125 24 46.125C24.621 46.125 25.125 45.621 25.125 45V40.011C33.1035 39.4335 39.4335 33.1035 40.008 25.1775L40.011 25.125H45C45.621 25.125 46.125 24.621 46.125 24C46.125 23.379 45.621 22.875 45 22.875ZM24 37.875C16.3365 37.875 10.125 31.6635 10.125 24C10.125 16.3365 16.3365 10.125 24 10.125C31.6635 10.125 37.875 16.3365 37.875 24C37.866 31.659 31.659 37.866 24.0015 37.875H24ZM24 16.875C20.0655 16.875 16.875 20.0655 16.875 24C16.875 27.9345 20.0655 31.125 24 31.125C27.9345 31.125 31.125 27.9345 31.125 24C31.1205 20.067 27.933 16.8795 24 16.875ZM24 28.875C21.3075 28.875 19.125 26.6925 19.125 24C19.125 21.3075 21.3075 19.125 24 19.125C26.6925 19.125 28.875 21.3075 28.875 24C28.872 26.691 26.691 28.872 24 28.875Z" fill="white"></path></svg>
                        </div>
                        <div class="icon-box-content">
                            <b>1000+</b>
                            <p>Jobs to Empower Divyangjans</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="icon-box-wrapper">
                        <div class="civi-icon-wrap">
                            <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48" fill="none"><path d="M19.4995 24.2503C22.3765 24.2398 24.952 22.9543 26.689 20.9278L26.6995 20.9143C28.0945 22.5658 30.1675 23.6083 32.4835 23.6083C36.6565 23.6083 40.0375 20.2258 40.0375 16.0543C40.0375 11.8828 36.655 8.50034 32.4835 8.50034C30.727 8.50034 29.1115 9.10034 27.8275 10.1053L27.844 10.0933C26.185 7.12484 23.0635 5.15234 19.48 5.15234C14.206 5.15234 9.93105 9.42734 9.93105 14.7013C9.93105 19.9753 14.206 24.2503 19.48 24.2503C19.4875 24.2503 19.4935 24.2503 19.501 24.2503H19.4995ZM28.7275 12.2563C29.692 11.2918 31.0255 10.6963 32.497 10.6963C35.443 10.6963 37.831 13.0843 37.831 16.0303C37.831 18.9763 35.443 21.3643 32.497 21.3643C30.631 21.3643 28.9885 20.4058 28.036 18.9553L28.024 18.9358C28.672 17.6998 29.0575 16.2358 29.068 14.6833V14.6803C29.056 13.8073 28.927 12.9688 28.6975 12.1738L28.714 12.2398L28.7275 12.2563ZM19.4995 7.36184C23.542 7.36184 26.818 10.6393 26.818 14.6803C26.818 18.7213 23.5405 21.9988 19.4995 21.9988C15.4585 21.9988 12.181 18.7213 12.181 14.6803C12.181 14.6803 12.181 14.6803 12.181 14.6788C12.1855 10.6378 15.46 7.36484 19.501 7.36034L19.4995 7.36184ZM46.0975 37.4923C44.6905 31.1623 39.1255 26.5003 32.47 26.5003C29.8825 26.5003 27.46 27.2053 25.3825 28.4338L25.447 28.3978C23.677 27.7468 21.6325 27.3673 19.4995 27.3643H19.498C10.9285 27.4003 3.76605 33.3838 1.92255 41.3983L1.89855 41.5198C1.88205 41.5918 1.87305 41.6743 1.87305 41.7598C1.87305 42.3808 2.37705 42.8848 2.99805 42.8848C3.53355 42.8848 3.98205 42.5098 4.09455 42.0073L4.09605 41.9998C5.70255 34.8643 11.9875 29.6128 19.498 29.6128C27.0085 29.6128 33.292 34.8628 34.879 41.8948L34.8985 41.9998C35.0125 42.5098 35.4595 42.8848 35.9965 42.8848H35.998C36.0835 42.8848 36.166 42.8743 36.2455 42.8563L36.238 42.8578C36.748 42.7438 37.123 42.2953 37.123 41.7583C37.123 41.6728 37.114 41.5903 37.096 41.5108L37.0975 41.5183C35.9125 36.3373 32.626 32.0908 28.204 29.6443L28.111 29.5978C29.4055 29.0608 30.907 28.7488 32.4835 28.7488C38.0635 28.7488 42.7285 32.6623 43.8865 37.8943L43.9015 37.9723C44.0155 38.4823 44.4625 38.8573 44.9995 38.8573H45.001C45.0865 38.8573 45.169 38.8468 45.2485 38.8288L45.241 38.8303C45.751 38.7163 46.126 38.2678 46.126 37.7308C46.126 37.6453 46.117 37.5628 46.099 37.4833L46.1005 37.4908L46.0975 37.4923Z" fill="white"></path></svg>
                        </div>
                        <div class="icon-box-content">
                            <b>150+</b>
                            <p>Equal Opportunity Employers</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="icon-box-wrapper">
                        <div class="civi-icon-wrap">
                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="40" viewBox="0 0 32 40" fill="none"><path d="M9.71875 15.4726C9.71875 16.0126 10.1592 16.4518 10.6992 16.4518H25.7927C26.3316 16.4518 26.7732 16.0114 26.7732 15.4726C26.7732 14.9314 26.3316 14.4922 25.7927 14.4922H10.6992C10.1592 14.4922 9.71875 14.9314 9.71875 15.4726Z" fill="white"></path><path d="M30.9612 8.27918L23.7588 1.06358C23.5884 0.894381 23.3724 0.800781 23.1504 0.800781H6.72837C6.26157 0.800781 5.88117 1.17998 5.88117 1.64798V33.4672C5.88117 33.9196 6.26877 34.3 6.72837 34.3H24.4368V37.522H2.47197V7.38158H5.79957V5.70158H1.62357C1.15677 5.70158 0.77637 6.08198 0.77637 6.54998V38.368C0.77517 38.8204 1.16397 39.2008 1.62357 39.2008H25.2708C25.7304 39.2008 26.118 38.8204 26.118 38.368V34.3H30.3768C30.8364 34.3 31.224 33.9196 31.224 33.4672V8.87558C31.224 8.64038 31.128 8.42558 30.9612 8.27918ZM23.9964 3.67238L28.3524 8.04278H23.9964V3.67238ZM29.5428 32.62H7.57677V2.47958H22.302V8.87558C22.302 9.34118 22.68 9.72158 23.1492 9.72158H29.5416V32.62H29.5428Z" fill="white"></path><path d="M25.7927 18.8516H10.6992C10.1592 18.8516 9.71875 19.292 9.71875 19.832C9.71875 20.372 10.1592 20.8112 10.6992 20.8112H25.7927C26.3316 20.8112 26.7732 20.3708 26.7732 19.832C26.7744 19.2908 26.3316 18.8516 25.7927 18.8516Z" fill="white"></path><path d="M25.7927 23.207H10.6992C10.1592 23.207 9.71875 23.645 9.71875 24.1862C9.71875 24.7274 10.1592 25.1654 10.6992 25.1654H25.7927C26.3316 25.1654 26.7732 24.7274 26.7732 24.1862C26.7732 23.645 26.3316 23.207 25.7927 23.207Z" fill="white"></path><path d="M5.79911 19.3945H5.59271C5.05271 19.3945 4.6123 19.8349 4.6123 20.3737C4.6123 20.9149 5.05271 21.3553 5.59271 21.3553H5.79911V19.3945Z" fill="white"></path><path d="M5.79911 23.75H5.59271C5.05271 23.75 4.6123 24.1904 4.6123 24.7292C4.6123 25.2704 5.05271 25.7108 5.59271 25.7108H5.79911V23.75Z" fill="white"></path><path d="M4.6123 29.0871C4.6123 29.6271 5.05271 30.0663 5.59271 30.0663H5.79911V28.1055H5.59271C5.05271 28.1067 4.6123 28.5471 4.6123 29.0871Z" fill="white"></path></svg>
                        </div>
                        <div class="icon-box-content">
                            <b>500+</b>
                            <p>Divyangjans Candidate Profiles</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
@*Search Section End*@
@*Explore Featured Jobs Start*@
<div class="spacing-top">
    <div class="container">
        <div class="row">
            <div class="heading-job">
                <h2>Explore Featured Jobs</h2>
            </div>

            <div id="tl-featured-slider2" class="owl-carousel">
                <div class="item">
                    <div class="Explore-job-box">
                        <div class="jobs-archive-header">
                            <a href="javascript:;"><img src="images/camera.png" alt="" /></a>
                            <span class="tooltip"><span class="tooltipText fb">Wishlist</span><img src="images/heart.png" alt="" /></span>
                        </div>

                        <div class="clearfix"></div>

                        <div class="Explore-job-text">
                            <h6><a href="javascript:;">Recruitment of Executive Trainees 2024 through GATE</a></h6>
                            <p><a href="javascript:;"><span>By</span>Nuclear Power Corporation of India Ltd <span>in</span></a></p>
                            <b><a href="javascript:;">Physical Disability</a></b>
                        </div>

                        <div class="jobs-archive-footer">
                            <a href="javascript:;" class="active">Private</a>
                            <a href="javascript:;">Kerala</a>
                        </div>

                        <div class="salary-wrapper">
                            <span><a href="javascript:;">2₹ - 6₹</a></span>
                        </div>

                        <div class="days">
                            <a href="javascript:;"><span> 6 </span>days left to apply</a>
                        </div>

                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="item">
                    <div class="Explore-job-box">
                        <div class="jobs-archive-header">
                            <a href="javascript:;"><img src="images/camera.png" alt="" /></a>
                            <span class="tooltip"><span class="tooltipText fb">Wishlist</span><img src="images/heart.png" alt="" /></span>
                        </div>

                        <div class="clearfix"></div>

                        <div class="Explore-job-text">
                            <h6><a href="javascript:;">Recruitment of Executive Trainees 2024 through GATE</a></h6>
                            <p><a href="javascript:;"><span>By</span>Nuclear Power Corporation of India Ltd <span>in</span></a></p>
                            <b><a href="javascript:;">Physical Disability</a></b>
                        </div>

                        <div class="jobs-archive-footer">
                            <a href="javascript:;" class="active">Private</a>
                            <a href="javascript:;">Kerala</a>
                        </div>

                        <div class="salary-wrapper">
                            <span><a href="javascript:;">2₹ - 6₹</a></span>
                        </div>

                        <div class="days">
                            <a href="javascript:;"><span> 6 </span>days left to apply</a>
                        </div>

                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="item">
                    <div class="Explore-job-box">
                        <div class="jobs-archive-header">
                            <a href="javascript:;"><img src="images/camera.png" alt="" /></a>
                            <span class="tooltip"><span class="tooltipText fb">Wishlist</span><img src="images/heart.png" alt="" /></span>
                        </div>

                        <div class="clearfix"></div>

                        <div class="Explore-job-text">
                            <h6><a href="javascript:;">Recruitment of Executive Trainees 2024 through GATE</a></h6>
                            <p><a href="javascript:;"><span>By</span>Nuclear Power Corporation of India Ltd <span>in</span></a></p>
                            <b><a href="javascript:;">Physical Disability</a></b>
                        </div>

                        <div class="jobs-archive-footer">
                            <a href="javascript:;" class="active">Private</a>
                            <a href="javascript:;">Kerala</a>
                        </div>

                        <div class="salary-wrapper">
                            <span><a href="javascript:;">2₹ - 6₹</a></span>
                        </div>

                        <div class="days">
                            <a href="javascript:;"><span> 6 </span>days left to apply</a>
                        </div>

                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>

            <div class="viewalljobs"><a href="javascript:;">View all jobs</a></div>

        </div>
    </div>
</div>
@*Explore Featured Jobs End*@
@*Register Section Start*@
<div class="fullwidth">
    <div class="left-section">
        <div class="left-section-col">
            <div class="left-section-text">
                <h4>Register as an Employer</h4>
                <p><img src="images/correct.png" alt="" /> Access a Diverse Talent Pool</p>
                <p><img src="images/correct.png" alt="" /> Targeted Job Listings</p>
                <p><img src="images/correct.png" alt="" /> Build Your Brand</p>

                <a href="javascript:;">Post jobs Free</a>
            </div>
        </div>
    </div>
    <div class="right-section">
        <div class="right-section-col">
            <div class="left-section-text">
                <h4>Register as a Candidate</h4>
                <p><img src="images/correct.png" alt="" /> Access Exclusive Opportunities</p>
                <p><img src="images/correct.png" alt="" /> Connect with Top Employers</p>
                <p><img src="images/correct.png" alt="" /> Government, Private and NGO Jobs</p>

                <a href="javascript:;">Register Now</a>
            </div>
        </div>
    </div>
</div>
@*Register Section End*@
@*Browse Jobs by Category Start*@
<div class="spacing-top">
    <div class="container">
        <div class="row">
            <div class="heading-job">
                <h2>Browse Jobs by Category</h2>
            </div>
            <div class="col-4 col-md-2">
                <div class="Category-box">
                    <a href="javascript:;">
                        <img src="images/Category1.jpg" alt="" />
                        <div class="Category-text">
                            <p>Physical Disability</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-4 col-md-2">
                <div class="Category-box">
                    <a href="javascript:;">
                        <img src="images/Category2.jpg" alt="" />
                        <div class="Category-text">
                            <p>Blood Disorder</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-4 col-md-2">
                <div class="Category-box">
                    <a href="javascript:;">
                        <img src="images/Category3.jpg" alt="" />
                        <div class="Category-text">
                            <p>Multiple Disabilities</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-4 col-md-2">
                <div class="Category-box">
                    <a href="javascript:;">
                        <img src="images/Category4.jpg" alt="" />
                        <div class="Category-text">
                            <p>Intellectual Disability</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-4 col-md-2">
                <div class="Category-box">
                    <a href="javascript:;">
                        <img src="images/Category5.jpg" alt="" />
                        <div class="Category-text">
                            <p>Mental Illness</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-4 col-md-2">
                <div class="Category-box">
                    <a href="javascript:;">
                        <img src="images/Category6.jpg" alt="" />
                        <div class="Category-text">
                            <p>Chronic Neurological</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
@*Browse Jobs by Category End*@
@*gallery Start*@
<div class="container gallery-container">
    <div class="tz-gallery">
        <div class="row">
            <div class="col-3 col-md-3">
                <a class="lightbox" href="images/gallery1.jpg">
                    <img src="images/gallery1.jpg" class="w-100" alt="Bridge">
                </a>
            </div>
            <div class="col-3 col-md-3">
                <div class="row">
                    <div class="col-md-12">
                        <a class="lightbox" href="images/gallery2.jpg">
                            <img src="images/gallery2.jpg" class="w-100" alt="Bridge">
                        </a>
                        <a class="lightbox" href="images/gallery3.jpg">
                            <img src="images/gallery3.jpg" class="w-100" alt="Bridge">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-3 col-md-3">
                <a class="lightbox" href="images/gallery5.jpg">
                    <img src="images/gallery5.jpg" class="w-100" alt="Bridge">
                </a>
            </div>
            <div class="col-3 col-md-3">
                <a class="lightbox" href="images/gallery4.jpg">
                    <img src="images/gallery4.jpg" class="w-100" alt="Bridge">
                </a>
                <a class="lightbox" href="images/gallery6.jpg">
                    <img src="images/gallery6.jpg" class="w-100" alt="Bridge">
                </a>
            </div>
            <div class="col-3 col-md-3">
                <a class="lightbox" href="images/gallery7.jpg">
                    <img src="images/gallery7.jpg" class="w-100" alt="Bridge">
                </a>
                <a class="lightbox" href="images/gallery10.jpg">
                    <img src="images/gallery10.jpg" class="w-100" alt="Bridge">
                </a>
            </div>

            <div class="col-3 col-md-3">
                <a class="lightbox" href="images/gallery8.jpg">
                    <img src="images/gallery8.jpg" class="w-100" alt="Bridge">
                </a>
            </div>

            <div class="col-3 col-md-3">
                <a class="lightbox" href="images/gallery11.jpg">
                    <img src="images/gallery11.jpg" class="w-100" alt="Bridge">
                </a>
                <a class="lightbox" href="images/gallery12.jpg">
                    <img src="images/gallery12.jpg" class="w-100" alt="Bridge">
                </a>
            </div>
            <div class="col-3 col-md-3">
                <a class="lightbox" href="images/gallery9.jpg">
                    <img src="images/gallery9.jpg" class="w-100" alt="Bridge">
                </a>
            </div>
        </div>
    </div>
</div>
@*gallery End*@
@*Organisation Logo Start*@
<div class="spacing-top">
    <div class="container">
        <div class="row">
            <div class="heading-job">
                <h2>Thanks to the Government organisations and Private organisations for listing jobs and  supporting us</h2>
            </div>

            <div id="tl-featured-slider3" class="owl-carousel">
                <div class="item">
                    <div class="ourclients">
                        <img src="images/Gov_Org-1.jpg" alt="logo" />
                    </div>
                </div>
                <div class="item">
                    <div class="ourclients">
                        <img src="images/Gov_Org-2.jpg" alt="logo" />
                    </div>
                </div>
                <div class="item">
                    <div class="ourclients">
                        <img src="images/Gov_Org-3.jpg" alt="logo" />
                    </div>
                </div>
                <div class="item">
                    <div class="ourclients">
                        <img src="images/Gov_Org-4.jpg" alt="logo" />
                    </div>
                </div>
                <div class="item">
                    <div class="ourclients">
                        <img src="images/Gov_Org-5.jpg" alt="logo" />
                    </div>
                </div>
                <div class="item">
                    <div class="ourclients">
                        <img src="images/Gov_Org-6.jpg" alt="logo" />
                    </div>
                </div>
                <div class="item">
                    <div class="ourclients">
                        <img src="images/Gov_Org-7.jpg" alt="logo" />
                    </div>
                </div>
                <div class="item">
                    <div class="ourclients">
                        <img src="images/Gov_Org-8.jpg" alt="logo" />
                    </div>
                </div>
                <div class="item">
                    <div class="ourclients">
                        <img src="images/Gov_Org-9.jpg" alt="logo" />
                    </div>
                </div>
                <div class="item">
                    <div class="ourclients">
                        <img src="images/Gov_Org-10.jpg" alt="logo" />
                    </div>
                </div>
                <div class="item">
                    <div class="ourclients">
                        <img src="images/Gov_Org-11.jpg" alt="logo" />
                    </div>
                </div>
                <div class="item">
                    <div class="ourclients">
                        <img src="images/Gov_Org-12.jpg" alt="logo" />
                    </div>
                </div>
                <div class="item">
                    <div class="ourclients">
                        <img src="images/Gov_Org-13.jpg" alt="logo" />
                    </div>
                </div>
                <div class="item">
                    <div class="ourclients">
                        <img src="images/Gov_Org-14.jpg" alt="logo" />
                    </div>
                </div>
                <div class="item">
                    <div class="ourclients">
                        <img src="images/Gov_Org-15.jpg" alt="logo" />
                    </div>
                </div>
                <div class="item">
                    <div class="ourclients">
                        <img src="images/Gov_Org-16.jpg" alt="logo" />
                    </div>
                </div>
                <div class="item">
                    <div class="ourclients">
                        <img src="images/Gov_Org-17.jpg" alt="logo" />
                    </div>
                </div>
                <div class="item">
                    <div class="ourclients">
                        <img src="images/Gov_Org-18.jpg" alt="logo" />
                    </div>
                </div>
                <div class="item">
                    <div class="ourclients">
                        <img src="images/Gov_Org-19.jpg" alt="logo" />
                    </div>
                </div>

                <div class="item">
                    <div class="ourclients">
                        <img src="images/Pvt_Org-1.jpg" alt="logo" />
                    </div>
                </div>
                <div class="item">
                    <div class="ourclients">
                        <img src="images/Pvt_Org-2.jpg" alt="logo" />
                    </div>
                </div>
                <div class="item">
                    <div class="ourclients">
                        <img src="images/Pvt_Org-3.jpg" alt="logo" />
                    </div>
                </div>
                <div class="item">
                    <div class="ourclients">
                        <img src="images/Pvt_Org-4.jpg" alt="logo" />
                    </div>
                </div>
                <div class="item">
                    <div class="ourclients">
                        <img src="images/Pvt_Org-5.jpg" alt="logo" />
                    </div>
                </div>
                <div class="item">
                    <div class="ourclients">
                        <img src="images/Pvt_Org-6.jpg" alt="logo" />
                    </div>
                </div>
                <div class="item">
                    <div class="ourclients">
                        <img src="images/Pvt_Org-7.jpg" alt="logo" />
                    </div>
                </div>
                <div class="item">
                    <div class="ourclients">
                        <img src="images/Pvt_Org-8.jpg" alt="logo" />
                    </div>
                </div>
                <div class="item">
                    <div class="ourclients">
                        <img src="images/Pvt_Org-9.jpg" alt="logo" />
                    </div>
                </div>
                <div class="item">
                    <div class="ourclients">
                        <img src="images/Pvt_Org-10.jpg" alt="logo" />
                    </div>
                </div>
                <div class="item">
                    <div class="ourclients">
                        <img src="images/Pvt_Org-11.jpg" alt="logo" />
                    </div>
                </div>
                <div class="item">
                    <div class="ourclients">
                        <img src="images/Pvt_Org-12.jpg" alt="logo" />
                    </div>
                </div>
                <div class="item">
                    <div class="ourclients">
                        <img src="images/Pvt_Org-13.jpg" alt="logo" />
                    </div>
                </div>
                <div class="item">
                    <div class="ourclients">
                        <img src="images/Pvt_Org-14.jpg" alt="logo" />
                    </div>
                </div>
                <div class="item">
                    <div class="ourclients">
                        <img src="images/Pvt_Org-15.jpg" alt="logo" />
                    </div>
                </div>
                <div class="item">
                    <div class="ourclients">
                        <img src="images/Pvt_Org-16.jpg" alt="logo" />
                    </div>
                </div>
                <div class="item">
                    <div class="ourclients">
                        <img src="images/Pvt_Org-17.jpg" alt="logo" />
                    </div>
                </div>
                <div class="item">
                    <div class="ourclients">
                        <img src="images/Pvt_Org-18.jpg" alt="logo" />
                    </div>
                </div>
                <div class="item">
                    <div class="ourclients">
                        <img src="images/Pvt_Org-19.jpg" alt="logo" />
                    </div>
                </div>
                <div class="item">
                    <div class="ourclients">
                        <img src="images/Pvt_Org-20.jpg" alt="logo" />
                    </div>
                </div>
                <div class="item">
                    <div class="ourclients">
                        <img src="images/Pvt_Org-21.jpg" alt="logo" />
                    </div>
                </div>
                <div class="item">
                    <div class="ourclients">
                        <img src="images/Pvt_Org-22.jpg" alt="logo" />
                    </div>
                </div>
                <div class="item">
                    <div class="ourclients">
                        <img src="images/Pvt_Org-23.jpg" alt="logo" />
                    </div>
                </div>
                <div class="item">
                    <div class="ourclients">
                        <img src="images/Pvt_Org-24.jpg" alt="logo" />
                    </div>
                </div>
                <div class="item">
                    <div class="ourclients">
                        <img src="images/Pvt_Org-25.jpg" alt="logo" />
                    </div>
                </div>
                <div class="item">
                    <div class="ourclients">
                        <img src="images/Pvt_Org-26.jpg" alt="logo" />
                    </div>
                </div>
                <div class="item">
                    <div class="ourclients">
                        <img src="images/Pvt_Org-27.jpg" alt="logo" />
                    </div>
                </div>
                <div class="item">
                    <div class="ourclients">
                        <img src="images/Pvt_Org-28.jpg" alt="logo" />
                    </div>
                </div>
                <div class="item">
                    <div class="ourclients">
                        <img src="images/Pvt_Org-29.jpg" alt="logo" />
                    </div>
                </div>
                <div class="item">
                    <div class="ourclients">
                        <img src="images/Pvt_Org-30.jpg" alt="logo" />
                    </div>
                </div>
                <div class="item">
                    <div class="ourclients">
                        <img src="images/Pvt_Org-31.jpg" alt="logo" />
                    </div>
                </div>
                <div class="item">
                    <div class="ourclients">
                        <img src="images/Pvt_Org-32.jpg" alt="logo" />
                    </div>
                </div>
                <div class="item">
                    <div class="ourclients">
                        <img src="images/Pvt_Org-33.jpg" alt="logo" />
                    </div>
                </div>
                <div class="item">
                    <div class="ourclients">
                        <img src="images/Pvt_Org-34.jpg" alt="logo" />
                    </div>
                </div>
                <div class="item">
                    <div class="ourclients">
                        <img src="images/Pvt_Org-35.jpg" alt="logo" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@*Organisation Logo End*@
@*Messages Start*@
<div class="spacing-top">
    <div class="container">
        <div class="row">
            <div class="heading-job">
                <h2>Message By</h2>
            </div>

            <div id="tl-featured-slider4" class="owl-carousel">
                <div class="item">
                    <img src="images/messageby1.jpg" alt="message by" />
                </div>
                <div class="item">
                    <img src="images/messageby2.jpg" alt="message by" />
                </div>
                <div class="item">
                    <img src="images/messageby3.jpg" alt="message by" />
                </div>
                <div class="item">
                    <img src="images/messageby4.jpg" alt="message by" />
                </div>
                <div class="item">
                    <img src="images/messageby5.jpg" alt="message by" />
                </div>
                <div class="item">
                    <img src="images/messageby6.jpg" alt="message by" />
                </div>
                <div class="item">
                    <img src="images/messageby7.jpg" alt="message by" />
                </div>
            </div>
        </div>
    </div>
</div>
@*Messages End*@
@*Government Schemes Start*@
<div class="container">
    <div class="row">
        <div class="heading-job">
            <h2>Government Schemes for Divyangjans</h2>
            <p>Stay updated with the latest schemes for all types of Disabilities</p>
        </div>

        <div class="col-md-4">
            <div class="blog-box">
                <div class="zoom-img">
                    <a href="javascript:;"><img src="images/blog1.jpg" alt="blog" /></a>
                </div>
                <span>01/04/2024 <a href="javascript:;">Schemes</a></span>
                <a href="javascript:;">
                    Empowering Lives: A Comprehensive Overview of the National Social Assistance Programme (NSAP)
                </a>
            </div>
        </div>

        <div class="col-md-4">
            <div class="blog-box">
                <div class="zoom-img">
                    <a href="javascript:;"><img src="images/blog2.jpg" alt="blog" /></a>
                </div>
                <span>20/03/2024 <a href="javascript:;">Blog</a></span>
                <a href="javascript:;">
                    Guide on Central Government Schemes for benefit of people with disabilities in India
                </a>
            </div>
        </div>

        <div class="col-md-4">
            <div class="blog-box">
                <div class="zoom-img">
                    <a href="javascript:;"><img src="images/blog3.jpg" alt="blog" /></a>
                </div>
                <span>19/03/2024 <a href="javascript:;">Schemes</a></span>
                <a href="javascript:;">
                    Transforming Lives: Unveiling the Assistance to Disabled Persons for Purchase/ Fitting of Aids and Appliances (ADIP) Government Scheme
                </a>
            </div>
        </div>
        <div class="viewalljobs"><a href="javascript:;">View all Schemes</a></div>
    </div>
</div>
@*Government Schemes End*@
@*Faq Section Start*@
<div class="faqbg">
    <div class="container">
        <div clas="row">
            <div class="col-md-12">
                <section class="faq-section py-3">

                    <div class="heading-job">
                        <span>FAQ'S</span>
                        <h2>Any questions? We're here to help</h2>
                    </div>

                    <div class="tabs">
                        <span class="faqtab faqtab1 active">Assistance to Disabled Persons(ADIP)</span>
                        <span class="faqtab faqtab2">UDID card</span>
                    </div>

                    <div class="w-lg-50 mx-auto tabs1">
                        <div class="accordion accordion-flush" id="accordionExample">
                            <!-- 1: coll1 -->
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#coll1" aria-expanded="true" aria-controls="coll1">
                                        <h5>What is Scheme of Assistance to Disabled Persons for Purchase/Fitting of Aids/Appliances ADIP scheme and how it is helping empowering Divyangjan?</h5>
                                    </button>
                                </h2>
                                <div id="coll1" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        Under the ADIP Scheme, assistive devices are given to PwDs with the aim to improve their independent functioning and to arrest the extent of disability and occurrence of secondary disability. The scheme also envisages conduct of corrective surgery whenever required before providing an assistive device. Detailed scheme can be downloaded from download section on the homepage.
                                    </div>
                                </div>
                            </div>

                            <!-- 2: coll2 -->
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#coll2" aria-expanded="false" aria-controls="coll2">
                                        <h5> Who are eligible for getting benefit under the ADIP Scheme?</h5>
                                    </button>
                                </h2>
                                <div id="coll2" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <b>A person with disabilities fulfilling the following conditions would be eligible for assistance under ADIP Scheme.</b>

                                        <ul class="list-style-type-square">
                                            <li>1. An Indian Citizen of any age.</li>
                                            <li>2. Holds a 40% and above Disability Certificate (Benchmark disability).</li>
                                            <li>3. Having monthly income from all sources not exceeding Rs.30,000/- per month.</li>
                                            <li>
                                                4. In case of dependents, the income of parents/guardians not exceeding Rs. 30,000/- per month.The amount of assistance will be as

                                                <p>follows:-</p>

                                                <ul class="list-style-type-square-none">
                                                    <li>Total Income</li>
                                                    <li>Amount of Assistance</li>
                                                    <li>Upto Rs. 22,500/- per month</li>
                                                    <li>Full cost of aid/appliance</li>
                                                    <li>Rs.22,501/- to Rs. 30,000/- per month</li>
                                                    <li>50% of the cost of aid/appliance</li>
                                                </ul>

                                            </li>
                                            <li>5. Not having received assistance during the last 3 years for the same purpose from any source. However, for children below 12 years of age, the minimum time of assistance is one year.</li>
                                        </ul>


                                    </div>
                                </div>
                            </div>

                            <!-- 3: coll3 -->
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#coll3" aria-expanded="false" aria-controls="coll3">
                                        <h5> What are the documents required ?</h5>
                                    </button>
                                </h2>
                                <div id="coll3" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <ul class="list-style-type-square">
                                            <li>1. Passport Size Photographs.</li>
                                            <li>2. A copy of the disability certificate.</li>
                                            <li>3. Address proof (copy of Aadhaar Card or/ Voter Id Card or/ Ration Card etc.)</li>
                                            <li>4. A copy of Income Certificate.</li>
                                            <li>5. An undertaking that he/she has not received the same aids & assistive devices from any source during the last three years.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="w-lg-50 mx-auto tabs2">
                        <div class="accordion accordion-flush" id="accordionExample">
                            <!-- 1: coll1 -->
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#coll1" aria-expanded="true" aria-controls="coll1">
                                        <h5>What is UDID card?</h5>
                                    </button>
                                </h2>
                                <div id="coll1" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        UDID Card or Unique Disability Identity card is an initiative by Government of India with a view of creating a National Database for PwDs, and to issue a Unique Disability Identity Card  to each person with disabilities. This aims to encourage transparency, eﬃciency and ease of delivering the government beneﬁts to the person with disabilities, and to ensure uniformity. This will help in stream-lining the tracking of physical and ﬁnancial progress of beneﬁciary at all levels of hierarchy of implementation – from village level, block level, District level , State level and National level.
                                    </div>
                                </div>
                            </div>

                            <!-- 2: coll2 -->
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#coll2" aria-expanded="false" aria-controls="coll2">
                                        <h5>Who can apply for UDID Card and where to apply for UDID card?</h5>
                                    </button>
                                </h2>
                                <div id="coll2" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        Any citizen of India with full/partial disability can apply for UDID card at the website- <a href="https://www.swavlambancard.gov.in/" target="_blank"> https://www.swavlambancard.gov.in/ </a>
                                    </div>
                                </div>
                            </div>

                            <!-- 3: coll3 -->
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#coll3" aria-expanded="false" aria-controls="coll3">
                                        <h5> What are the documents required for applying for the UDID card?</h5>
                                    </button>
                                </h2>
                                <div id="coll3" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p>A coloured photo, Disability Certiﬁcate (If already has) and Address Proof.</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="viewalljobs"><a href="javascript:;">View All FAQ</a></div>

                </section>
            </div>
        </div>
    </div>
</div>
@*Faq Section End*@
@*Latest Blog Section Start*@
<div class="spacing-top">
    <div class="container">
        <div class="row">
            <div class="heading-job">
                <h2>Latest from our blog</h2>
                <p>Get interesting insights, articles, and news</p>
            </div>

            <div class="col-md-4">
                <div class="blog-box">
                    <div class="zoom-img">
                        <a href="javascript:;"><img src="images/latest-blog1.jpg" alt="blog" /></a>
                    </div>
                    <span>17/11/2023 <a href="javascript:;">Blog</a></span>
                    <a href="javascript:;">
                        Top 10 Ways to Support Person with Disabilities (PwD) in India
                    </a>
                </div>
            </div>

            <div class="col-md-4">
                <div class="blog-box">
                    <div class="zoom-img">
                        <a href="javascript:;"><img src="images/latest-blog2.jpg" alt="blog" /></a>
                    </div>
                    <span>22/11/2023 <a href="javascript:;">Schemes</a></span>
                    <a href="javascript:;">
                        Empowering Futures: Unraveling the Mukhyamantri Yuva Swavlamban Yojana (MYSY) for Divyang Students
                    </a>
                </div>
            </div>

            <div class="col-md-4">
                <div class="blog-box">
                    <div class="zoom-img">
                        <a href="javascript:;"><img src="images/latest-blog3.jpg" alt="blog" /></a>
                    </div>
                    <span>29/11/2023 <a href="javascript:;">Schemes</a></span>
                    <a href="javascript:;">
                        Empowering Lives: Unraveling the Umbrella Scheme for Development of Scheduled Castes
                    </a>
                </div>
            </div>


            <div class="viewalljobs"><a href="javascript:;">View more articles</a></div>
        </div>
    </div>
</div>
@*Latest Blog Section End*@
@*Loction Section Start*@
<div class="spacing-top">
    <div class="container">
        <div class="row Training-Centres">
            <div class="heading-job">
                <h2>Training Centres</h2>
            </div>

            <div class="col-md-4">

                <div class="top-colm">
                    <span>Number Of Training Centre: 21</span>
                    <button onclick="window.print()">PRINT <svg xmlns="http://www.w3.org/2000/svg" width="16" height="15"><path fill="#FFF" fill-rule="evenodd" d="M13.355 4.44H2.645C1.344 4.44.35 5.434.35 6.735v4.59h3.06v3.06h9.18v-3.06h3.06v-4.59c0-1.301-.995-2.295-2.295-2.295zm-2.295 8.415H4.94V9.03h6.12v3.825zM13.355 7.5c-.459 0-.765-.306-.765-.765s.306-.765.765-.765.765.306.765.765-.306.765-.765.765zM12.59.615H3.41v3.06h9.18V.615z" /></svg></button>
                </div>

                <div class="scrollbar" id="style-4">
                    <div class="force-overflow">
                        <h3>Kohinoor Technical Institute - Borivali</h3>
                        <ul>
                            <li class="sl-addr">
                                <img src="images/location.png" alt="" />
                                <span>19A, Ghanshyam Tower, E, Mahatma Gandhi Rd, near to Railway Station, Sukarwadi, Borivali<br>Mumbai, Maharashtra, 400066</span>
                            </li>
                            <li class="sl-phone">
                                <img src="images/smartphone.png" alt="" />
                                <a href="tel:07045596002">07045596002</a>
                            </li>
                            <li class="sl-days">
                                <img src="images/calendar.png" alt="" />
                                <span class="txt-hours">Mon, Tues, Wed, Thur, Fri, Sat, Sun</span>
                            </li>
                        </ul>
                        <div class="sl-act-btns">
                            <a href="javascript:;">Directions</a>
                            <a href="https://kti.ac.in/" target="_blank">Website</a>
                        </div>

                    </div>
                    <div class="force-overflow">
                        <h3>Kohinoor Technical Institute - Borivali</h3>
                        <ul>
                            <li class="sl-addr">
                                <img src="images/location.png" alt="" />
                                <span>19A, Ghanshyam Tower, E, Mahatma Gandhi Rd, near to Railway Station, Sukarwadi, Borivali<br>Mumbai, Maharashtra, 400066</span>
                            </li>
                            <li class="sl-phone">
                                <img src="images/smartphone.png" alt="" />
                                <a href="tel:07045596002">07045596002</a>
                            </li>
                            <li class="sl-days">
                                <img src="images/calendar.png" alt="" />
                                <span class="txt-hours">Mon, Tues, Wed, Thur, Fri, Sat, Sun</span>
                            </li>
                        </ul>
                        <div class="sl-act-btns">
                            <a href="javascript:;">Directions</a>
                            <a href="https://kti.ac.in/" target="_blank">Website</a>
                        </div>

                    </div>
                    <div class="force-overflow">
                        <h3>Kohinoor Technical Institute - Borivali</h3>
                        <ul>
                            <li class="sl-addr">
                                <img src="images/location.png" alt="" />
                                <span>19A, Ghanshyam Tower, E, Mahatma Gandhi Rd, near to Railway Station, Sukarwadi, Borivali<br>Mumbai, Maharashtra, 400066</span>
                            </li>
                            <li class="sl-phone">
                                <img src="images/smartphone.png" alt="" />
                                <a href="tel:07045596002">07045596002</a>
                            </li>
                            <li class="sl-days">
                                <img src="images/calendar.png" alt="" />
                                <span class="txt-hours">Mon, Tues, Wed, Thur, Fri, Sat, Sun</span>
                            </li>
                        </ul>
                        <div class="sl-act-btns">
                            <a href="javascript:;">Directions</a>
                            <a href="https://kti.ac.in/" target="_blank">Website</a>
                        </div>

                    </div>
                    <div class="force-overflow">
                        <h3>Kohinoor Technical Institute - Borivali</h3>
                        <ul>
                            <li class="sl-addr">
                                <img src="images/location.png" alt="" />
                                <span>19A, Ghanshyam Tower, E, Mahatma Gandhi Rd, near to Railway Station, Sukarwadi, Borivali<br>Mumbai, Maharashtra, 400066</span>
                            </li>
                            <li class="sl-phone">
                                <img src="images/smartphone.png" alt="" />
                                <a href="tel:07045596002">07045596002</a>
                            </li>
                            <li class="sl-days">
                                <img src="images/calendar.png" alt="" />
                                <span class="txt-hours">Mon, Tues, Wed, Thur, Fri, Sat, Sun</span>
                            </li>
                        </ul>
                        <div class="sl-act-btns">
                            <a href="javascript:;">Directions</a>
                            <a href="https://kti.ac.in/" target="_blank">Website</a>
                        </div>

                    </div>
                    <div class="force-overflow">
                        <h3>Kohinoor Technical Institute - Borivali</h3>
                        <ul>
                            <li class="sl-addr">
                                <img src="images/location.png" alt="" />
                                <span>19A, Ghanshyam Tower, E, Mahatma Gandhi Rd, near to Railway Station, Sukarwadi, Borivali<br>Mumbai, Maharashtra, 400066</span>
                            </li>
                            <li class="sl-phone">
                                <img src="images/smartphone.png" alt="" />
                                <a href="tel:07045596002">07045596002</a>
                            </li>
                            <li class="sl-days">
                                <img src="images/calendar.png" alt="" />
                                <span class="txt-hours">Mon, Tues, Wed, Thur, Fri, Sat, Sun</span>
                            </li>
                        </ul>
                        <div class="sl-act-btns">
                            <a href="javascript:;">Directions</a>
                            <a href="https://kti.ac.in/" target="_blank">Website</a>
                        </div>

                    </div>
                    <div class="force-overflow">
                        <h3>Kohinoor Technical Institute - Borivali</h3>
                        <ul>
                            <li class="sl-addr">
                                <img src="images/location.png" alt="" />
                                <span>19A, Ghanshyam Tower, E, Mahatma Gandhi Rd, near to Railway Station, Sukarwadi, Borivali<br>Mumbai, Maharashtra, 400066</span>
                            </li>
                            <li class="sl-phone">
                                <img src="images/smartphone.png" alt="" />
                                <a href="tel:07045596002">07045596002</a>
                            </li>
                            <li class="sl-days">
                                <img src="images/calendar.png" alt="" />
                                <span class="txt-hours">Mon, Tues, Wed, Thur, Fri, Sat, Sun</span>
                            </li>
                        </ul>
                        <div class="sl-act-btns">
                            <a href="javascript:;">Directions</a>
                            <a href="https://kti.ac.in/" target="_blank">Website</a>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="Directionsmap">
                    <iframe src="https://maps.app.goo.gl/ZzD1PGUgpnycrSZE8" width="100%" height="100%" frameborder="0" style="border: 0" allowfullscreen=""></iframe>

                </div>
            </div>
        </div>
    </div>
</div>
@*Loction Section End*@


