
@{
    ViewBag.Title = "Jobs";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
<style>
    .selectBox {display: inline-block; width: auto; }
    .selectBox.show { background: #fff7e9; }
</style>
<div class="spacing-top jobsbg">
    <div class="container">
        <div class="row">

            <div class="col-md-4">
                <div class="filter-box-bg">
                    <div class="civi-nav-filter active">
                        <div class="civi-filter-toggle">
                            <span>Filter</span>
                        </div>
                        <div class="circleLoading">
                            <i class="fa fa-refresh fa-spin" aria-hidden="true"></i>
                            <span>Clear All</span>
                        </div>
                    </div>

                    <div class="filter-section">
                        <h2>Jobs Categories</h2>

                        <ul class="checkboxs">
                            <li>
                                <label><input type="checkbox" value="option" />Blood Disorder</label>
                                <ul class="checkboxs">
                                    <li><label><input type="checkbox" value="option" />Haemophilia</label></li>
                                    <li><label><input type="checkbox" value="option" />Sickle Cell Disease</label></li>
                                    <li><label><input type="checkbox" value="option" />Thalassemia</label></li>
                                </ul>
                            </li>
                            <li>
                                <label><input type="checkbox" value="option" />Chronic Neurological</label>
                                <ul class="checkboxs">
                                    <li><label><input type="checkbox" value="option" />Multiple Sclerosis</label></li>
                                    <li><label><input type="checkbox" value="option" />Parkinson’s Disease</label></li>
                                </ul>
                            </li>
                            <li>
                                <label><input type="checkbox" value="option" />Intellectual Disability</label>
                                <ul class="checkboxs">
                                    <li><label><input type="checkbox" value="option" />Autism Spectrum Disorder</label></li>
                                    <li><label><input type="checkbox" value="option" />Specific Learning Disabilities</label></li>
                                </ul>
                            </li>
                            <li><label><input type="checkbox" value="option" />Mental Illness</label></li>
                            <li><label><input type="checkbox" value="option" />Multiple Disabilities</label></li>
                            <li>
                                <label><input type="checkbox" value="option" />Physical Disability</label>
                                <ul class="checkboxs">
                                    <li><label><input type="checkbox" value="option" />Hearing Impairment</label></li>
                                    <li><label><input type="checkbox" value="option" />Locomotor Disability</label></li>
                                    <li><label><input type="checkbox" value="option" />Speech and Language Disability</label></li>
                                    <li><label><input type="checkbox" value="option" />Visual Impairmenty</label></li>
                                </ul>
                            </li>

                        </ul>

                        <h2>Jobs Type</h2>

                        <ul class="checkboxs">
                            <li><label><input type="checkbox" value="option" />Government</label></li>
                            <li><label><input type="checkbox" value="option" />NGO</label></li>
                            <li><label><input type="checkbox" value="option" />Private</label></li>
                        </ul>

                    </div>

                </div>
            </div>
            <div class="col-md-8">



                <div class="civi-nav-filter active">
                    <div class="civi-filter-toggle">
                        <span></span>
                    </div>
                    <div class="circleLoading">
                        <i class="fa fa-refresh fa-spin" aria-hidden="true"></i>
                        <span>Clear All</span>

                        <i class="fa fa-th-large" aria-hidden="true"></i>
                        <i class="fa fa-list" aria-hidden="true"></i>
                        <abbr>Sort by</abbr>

                        <div class="dropdowns">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">Nested</button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                <li><a class="dropdown-item" href="#">Oldest</a></li>
                                <li><a class="dropdown-item" href="#">Featured</a></li>
                            </ul>
                        </div>

                    </div>

                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="Explore-job-box Explore-job-box-bg">
                            <div class="jobs-archive-header">
                                <a href="javascript:;"><img src="images/camera.png" alt="" /></a>
                                <span class="tooltip"><span class="tooltipText fb">Wishlist</span><img src="images/heart.png" alt="" /></span>
                            </div>

                            <div class="clearfix"></div>

                            <div class="Explore-job-text">
                                <h6><a href="javascript:;">Office work</a></h6>
                                <b><a href="javascript:;">Physical Disability</a></b>
                            </div>

                            <div class="jobs-archive-footer">
                                <a href="javascript:;" class="active">Private</a>
                                <a href="javascript:;">Kerala</a>
                            </div>

                            <div class="salary-wrapper">
                                <span><a href="javascript:;">2₹ - 6₹</a></span>
                            </div>

                            <div class="days">
                                <a href="javascript:;"><span> 6 </span>days left to apply</a>
                            </div>

                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="Explore-job-box Explore-job-box-bg">
                            <div class="jobs-archive-header">
                                <a href="javascript:;"><img src="images/camera.png" alt="" /></a>
                                <span class="tooltip"><span class="tooltipText fb">Wishlist</span><img src="images/heart.png" alt="" /></span>
                            </div>

                            <div class="clearfix"></div>

                            <div class="Explore-job-text">
                                <h6><a href="javascript:;">Office work</a></h6>
                                <b><a href="javascript:;">Physical Disability</a></b>
                            </div>

                            <div class="jobs-archive-footer">
                                <a href="javascript:;" class="active">Private</a>
                                <a href="javascript:;">Kerala</a>
                            </div>

                            <div class="salary-wrapper">
                                <span><a href="javascript:;">2₹ - 6₹</a></span>
                            </div>

                            <div class="days">
                                <a href="javascript:;"><span> 6 </span>days left to apply</a>
                            </div>

                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>

